.circle {
  position: absolute;
  top: 12rem;
  right: 40rem;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: circle-clear;
  border-left: rgb(1, 245, 253) 0.4rem solid;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

@keyframes circle-clear {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
