.label-design {
  color: blanchedalmond;
  font-size: 1.8rem;
  margin: 0.4rem;
}
.input-design {
  display: block;
  height: 3rem;
  border-radius: 3rem;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 500px) {
  .input-design {
    width: 6rem;
  }
  .label-design {
    font-size: 1.2rem;
  }
}
