.links > a {
  padding: 0.5rem;
}

.card-container,
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
}

.card {
  border: 2px solid orange;
  border-radius: 5px;
}
