.players-container {
  display: flex;
  position: relative;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winner-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 86vh;
  width: 99.9vw;
  background-color: grey;
  text-align: center;
  background: url("./winnig.png") no-repeat center center/cover;
  color: rgb(185, 173, 173);
  font-size: 10rem;
  text-shadow: 1rem rgb(250, 249, 248);
}

.game-container {
  background-color: black;
  height: 100vh;
  position: relative;
}

@media (max-width: 500px) {
  .settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .players-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
